h1 {
  font-size: 2rem;
  text-align: center;
}

body {
  max-width: 700px;
  text-wrap: pretty;
  margin: 0 auto;
  padding: 8px 16px;
}

p, li {
  font-size: 1.4rem;
}
a {
  overflow-wrap: anywhere;
}

.post-list-item {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.post-list-item a {
  font-size: 1.4rem;
  text-decoration: none;
}